.man-model {
    height: 100vh;
    width: 100% ;
    background: url(https://static.zara.net/photos///contents/mkt/spots/aw23-north-man-back-to-the-city/subhome-xmedia-37//w/2880/IMAGE-landscape-fill-f693dfd9-d7bd-411f-87b2-9da4ca58a734-default_0.jpg?ts=1694619405402);
    background-size: cover;
    background-position: center;
}

