.woman-model {
    height: 100vh;
    width: 100% ;
    background: url(https://static.zara.net/photos///contents/mkt/spots/aw23-north-woman-new/subhome-xmedia-37-2//w/2880/IMAGE-landscape-fill-a72ed9f3-bf3c-4399-af64-fc6a7f710efd-default_0.jpg?ts=1694683869912);
    background-size: cover;
    background-position: center;
}

